*,
*:after,
*:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --green-color: rgb(5, 71, 82);
  --blue-color: rgb(0, 175, 245);
  --grey-color: rgb(112, 140, 145);
  --text-color: #232323;

  --border-radius: 5px;

  --font-size: 16px;
  --font-fam: 'Manrope', sans-serif;
}

::placeholder{
  font-family: var(--font-fam);
}

body{
  font-family: var(--font-fam);
  color: var(--text-color);
}

a{
  text-decoration: none;
}

ul,ol{
  list-style: none;
}

.container{
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.section{
  padding: 50px 0;
}

.input{
  padding: 12px 15px;
  max-height: 42px;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
}

.button{
  border: none;
  background-color: var(--blue-color);
  cursor: pointer;

  color: white;
  font-weight: 700;
  font-size: 16px;
}

.grid{
  display: grid;
}

.price{
  color: var(--green-color);
  font-weight: 700;
}

.header{
  padding: 30px 0;
  &-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo{
    width: 70%;
  }

  &-menu{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
  }

  .menu{
    &-item{
      display: flex;
      align-items: center;
      &__link{
        color: var(--green-color);
      }
      &__img{
        width: 25px;
        height: 25px;
      }
    }
  }
}

.banner{
  background-image: url("../images/banner-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 60vh;

  &-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
  }

  &__title{
    font-size: 48px;
    color: white;
    text-align: center;
    margin-bottom: 45px;
  }

  &-form{
    display: grid;
    grid-template-columns: 1fr 1fr 160px 65px 160px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1pt 4pt, rgba(0, 0, 0, 0.08) 0px 2pt 8pt;

    & .first{
      border-radius: 5px 0 0 5px!important;
    }
    & .last{
      border-radius: 0 5px 5px 0!important;
    }
  }

  &__input{
    border-radius: 0;
  }
}

.features{
  &-grid{
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
  .feature{
    &__img{
      width: 40px;
      height: 40px;
    }
    &__title{
      margin-bottom: 15px;
      color: var(--green-color);
    }
    &__text{
      color: var(--grey-color)
    }
  }
}

.routes{
  background-color: var(--green-color);
  &-grid{
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  &__title{
    color: white;
    margin-bottom: 25px;
  }

  .route{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    gap: 15px;
    border-radius: var(--border-radius);
    background-color: white;

    cursor: pointer;

    &-city{
      font-weight: 700;
      color: var(--green-color);
    }
    &-price{

    }
    &-way{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      word-break: break-word;
    }
  }

  &__link{
    color: var(--blue-color);
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
  }
}

.footer{
  &-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 30px 0;
    .logo{
      width: 60%;
    }
  }
}

